.main {
  width: 90%;
  max-width: 930px;
  height: 100vh;
  margin: 0 auto;

  .header {
    width: 100%;
    height: 160px;
    padding: 35px 0 55px 0;
    font-family: HelveticaNeue-Hv, "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 28px;

    .tamuseum-container {
      float: left;
      height: 100%;

      .tamuseum-link {
        color: initial;
        text-decoration: none;
        display: flex;
        justify-content: center;
      }

      .tamuseum-logo {
        width: 70px;
        height: 70px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/TAMA_logo.png);
      }
      .tamuseum-title {
        padding-left: 20px;
        padding-top: 13px;
      }
    }

    .coming-soon {
      float: right;
      padding-top: 14px;
      color: rgb(255, 249, 0);
    }
  }

  .exhibition-title {
    padding-bottom: 70px;

    .title-line {
      background-color: yellow;
      line-height: 53px;
      font-family: PFEef, "HelveticaNeue-Heavy", "Helvetica Neue Heavy", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 49px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 2px 10px;
    }
  }

  .exhibition-content {
    background-color: white;
    display: inline-block;
    font-size: 32px;
    line-height: 53px;
    padding: 0 10px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;;

  }
}
