@media only screen and (max-width:1024px) {

}

@media only screen and (max-width:768px) {
  .main {
    .header {
      font-size: 20px;
      .tamuseum-container {
        .tamuseum-logo {
          width: 50px;
          height: 50px;
        }
        .tamuseum-title {
          padding-top: 10px;
          padding-left: 10px;
        }
      }
      .coming-soon {
        padding-top: 10px;
      }
    }

    .exhibition-title {
      .title-line {
        line-height: 40px;
        font-size: 36px;
        padding: 2px 6px;
      }
    }
    .exhibition-content {
      font-size: 24px;
      line-height: 40px;
      padding: 0 6px;
    }
  }
}

@media only screen and (max-width:480px) {
  .main {
    width: 95%;

    .header {
      font-size: 14px;
      height: 120px;
      padding-top: 15px;
      .tamuseum-container {
        .tamuseum-logo {
          width: 30px;
          height: 30px;
        }
        .tamuseum-title {
          padding-top: 5px;
          padding-left: 5px;
        }
      }
      .coming-soon {
        padding-top: 5px;
      }
    }

    .exhibition-title {
      .title-line {
        line-height: 32px;
        font-size: 24px;
      }
    }
    .exhibition-content {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

@media only screen and (max-width:320px) {
  .main {
    .header {
      font-size: 12px;
      height: 100px;
      padding-top: 15px;
      .tamuseum-container {
        .tamuseum-logo {
          width: 20px;
          height: 20px;
        }
        .tamuseum-title {
          padding-top: 1px;
          padding-left: 3px;
        }
      }
      .coming-soon {
        padding-top: 1px;
      }
    }

    .exhibition-title {
      padding-bottom: 50px;

      .title-line {
        line-height: 28px;
        font-size: 20px;
      }
    }
    .exhibition-content {
      font-size: 14px;
      line-height: 28px;
    }
  }
}


@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
