@font-face {
  font-family:'HelveticaNeue-Hv';
  src:url('../fonts/HelveticaNeueLTStd-Hv.eot');
  src:url('../fonts/HelveticaNeueLTStd-Hv.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTStd-Hv.woff') format('woff'),
    url('../fonts/HelveticaNeueLTStd-Hv.ttf') format('truetype'),
    url('../fonts/HelveticaNeueLTStd-Hv.svg#HelveticaNeueLTStd-Hv') format('svg');
    font-weight:bold;
    font-style:normal;
}

@font-face {
  font-family:'PFEef';
  src:url('../fonts/PFEef-Bold.eot');
  src:url('../fonts/PFEef-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFEef-Bold.woff') format('woff'),
    url('../fonts/PFEef-Bold.ttf') format('truetype'),
    url('../fonts/PFEef-Bold.svg#PFEef-Bold') format('svg');
    font-weight:bold;
    font-style:normal;
}
